@page
@model WebApp.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Your order</h1>

<div>
    <h4>Order total: @Html.DisplayFor(model => model.Order.OrderTotal)€</h4>
    
    @{
            if (Model.Order.Persons.Count > 0)
                {
                    <table class="table">
                        <th>People ordering</th>
                        <th>persons order total</th>
                        <th></th>
                        <th></th>
                    @foreach (var person in Model.Order.Persons)
                    {
                        <tr>
                            <td>@person.Name</td>
                            
                            <td>@person.SumOfItems€</td>

                            <td>
                                <a asp-page="../OrderedItems/CreateFromList" asp-route-OrderId="@Model.Order.OrderId" asp-route-id="@person.PersonId">
                                    Add meal to order
                                </a>
                            </td>
                            <td>
                                <a asp-page="../Persons/Details" asp-route-id="@person.PersonId" asp-route-OrderId="@Model.Order.OrderId">
                                    View persons order
                                </a>
                            </td>
                        </tr>
                    }
                </table>
                }
        }
        <br>
</div>
<div>
    <a class="btn btn-primary" asp-page="./../Persons/Create" asp-route-id="@Model.Order.OrderId">Add people to order</a> | 
    <a class="btn btn-secondary" asp-page="./Index">Back to List</a>
</div>
