@page
@model WebApp.Pages.OrderedItems.CreateFromList

<h1>Restaurant menu</h1>
<hr>
<a style="margin-bottom: 20px" class="btn btn-primary" asp-page="../Orders/Details" asp-route-id="@Model.OrderId">Back to table order</a>
<a style="margin-bottom: 20px" class="btn btn-primary" asp-page="../Persons/Details" asp-route-id="@Model.PersonId">Back to personal order</a>

<form class="form-inline" method="get">
    <div class="form-group">
        <!-- Weird hack with value="" -->
        <input asp-for="@Model.Search"  value="@Model.Search" class="form-control"/>
        <input type="hidden" asp-for="@Model.PersonId" value="@Model.PersonId">&nbsp;
        <input type="hidden" asp-for="@Model.OrderId" value="@Model.OrderId">&nbsp;

    </div>

    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary"/> &nbsp;
        <input type="submit" value="Reset" name="ToDoActionReset" class="btn btn-secondary"
               @(string.IsNullOrWhiteSpace(Model.Search) ? "disabled=\"disabled\"" : "")/>
    </div>
</form>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FoodItem[0].Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodItem[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodItem[0].Ingredients)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodItem[0].FoodCategory)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.FoodItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoodCategory!.CategoryName)
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./ConfirmAdding" 
                   asp-route-foodItemid="@item.FoodItemId" asp-route-personId="@Model.PersonId"
                   asp-route-orderId="@Model.OrderId">Add to my order</a>
            </td>
        </tr>
    }
    </tbody>
</table>