@page
@model WebApp.Pages.OrderedItems.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this order row?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OrderedItem.Quantity)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OrderedItem.Quantity)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OrderedItem.SpecialInstructions)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OrderedItem.SpecialInstructions)
        </dd>
        <dt class="col-sm-4">
            Dish
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OrderedItem.FoodItem!.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.OrderedItem.Person)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.OrderedItem!.Person.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="OrderedItem.OrderedItemId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="../Persons/Details" asp-route-id="@Model.PersonId">Back to List</a>
    </form>
</div>
